/* ---------------------------------------------- */
/* --------------  BASIC SETUP  -------------- */
/* ---------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: rgba(0, 255, 10, 0.02);
    color: #1a361e;
    font-family: "Spartan", "Sen", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ---------------------------------------------- */
/* --------------  REUSABLE SETUP  -------------- */
/* ---------------------------------------------- */
/* --------------  ICONS/IMAGES  -------------- */

.icon-big {
    display: block;
    margin-bottom: 10px;
    margin-left: 38%;
}

.img-profile{
    width: 120px;
    border-radius: 100%;
}

.portfolio-icon{
    width: 60px;
}

.linkedin {
    margin: 7px 0px 0px 0px;
}

.trinity-logo{
    height: 80px;
    width: auto;
    float: none;
    margin: 25px 0px 0px 20%;
}


/* --------------  SPACES  -------------- */

.spaces-row{
    padding: 50%;
}

.spaces-circle{
    display: inline-block;
    background-color: #28aa37;
    padding: 21% 21%;
    border-radius: 100%;
    transition: all 0.5s ease;
}

.spaces-circle:hover,
.spaces-circle:active{
    animation: shadow-pop-tr 0.5s ease none;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    background-color: #348d3e;
}


.spaces-icon{
    width: 65px;
}

