/* ---------------------------------------------- */
/* --------------  BASIC SETUP  -------------- */
/* ---------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: rgba(0, 255, 10, 0.02);
    color: #1a361e;
    font-family: "Spartan", "Sen", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-color: rgba(0, 255, 10, 0.02);
    color: #1a361e;
    font-family: "Spartan", "Sen", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------------------- */
/* --------------  REUSABLE SETUP  -------------- */
/* ---------------------------------------------- */

/* --------------  TEXT  -------------- */

.section-statement{
    text-align: center;
    line-height: 155%;
    margin-bottom: 30px;
}

.p{
    color: #1a361e;
    font-family: "Spartan", "Sen", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
}
/* --------------  HEADINGS  -------------- */
h1 {
    color: white;
    font-size: 400%;
    font-weight: 400;
    letter-spacing: 2vw;
    margin-top: 40px;
    margin-bottom: 20px;
    animation: tracking-in-expand-fwd 2.5s ease none;
}

h1:hover,
h1:active {
    animation: tracking-in-expand-fwd;
}

h2, h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 200%;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 4px;
    background-color: rgb(47, 167, 47);
    content: " ";
    width: 200px;
    margin: 20px auto 20px auto;
}

h3 {
    text-align: center;
    font-size: 120%;
    letter-spacing: 1px;
    margin: 15px 0px;
}

/* --------------  HEADER  -------------- */

header {
    background-image: linear-gradient(rgba(0,0,100,0.5), rgba(0,70,50,0.2)),
        linear-gradient(rgba(0,0,100,0.5), rgba(0,60,50,0.4)), url(img/kudzu-large-background.png);
    background-size:auto;
    background-position: center;
    height: 100vh;
    margin: auto;
    background-attachment: fixed;
    background-repeat:no-repeat;
}

.navbar-brand {
    margin-left: 10%;
}

.navbar-nav {
    margin: 0% 15%;
}

.nav-item > a:link,
.nav-item > a:visited {
    padding-top: 30px;
    margin-right: 50px; 
    color: white !important;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.nav-item > a:hover,
.nav-item > a:active {
    border-bottom: 2px solid #2aaf2a;
    transition: border-bottom 0.2s;
}

.title-text-box {
    margin: 35vh 0% 0% auto;
    text-align: center;
}

/* --------------  SECTIONS  -------------- */

section {
    padding: 30px 0;
}

section:after {
    display: block;
    height: 4px;
    background-color: rgb(5, 20, 5);
    content: " ";
    width: 75%;
    margin: 40px auto 0px auto;
}

.section-form:after {
    background-color: white;
}


/* --------------  ICONS/IMAGES  -------------- */

.mission-icon {
    margin-bottom: 10px;
}

.img-profile{
    width: 120px;
    border-radius: 100%;
}

.portfolio-icon{
    width: 60px;
}

.linkedin {
    margin: 7px 0px 0px 0px;
}

.trinity-logo{
    height: 80px;
    width: auto;
    float: none;
    margin: 25px 0px 0px 20%;   
    
}
/* --------------  MISSION  -------------- */

.mission-block{
    text-align: center;
    margin-bottom: 30px;
}

.mission-block p{
    font-size: 15px;
    line-height: 155%;
    margin: 0 5%;
}

/* --------------  SPACES  -------------- */

.spaces-block{
    text-align: center;
    margin-bottom: 30px;
}

.spaces-circle{
    display: inline-block;
    background-color: #28aa37;
    padding: 21% 21%;
    border-radius: 100%;
    transition: all 0.5s ease;
}

.spaces-circle:hover,
.spaces-circle:active{
    animation: shadow-pop-tr 0.5s ease none;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    background-color: #348d3e;
}


.spaces-icon{
    width: 65px;
}

/* --------------  CAROUSEL  -------------- */

.carousel-window{
}



.carousel-inner > .carousel-item > img {
  max-height:80vh;
  max-width: 80%;
  margin: auto;
}

.section-carousel{
}

/* --------------  ABOUT ME  -------------- */

.profile-div{
    text-align: center;
    margin-bottom: 30px;
}

/* --------------  FOOTER  -------------- */


footer {
    background-color: rgb(5, 20, 5);
    min-height: 250px; 
    height: auto;
}


.footer-nav {
    text-align: center;
    padding: 30px;
}

.footer-nav ul a:link,
.footer-nav ul a:visited {
    color: #6d6d6d;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

.footer-nav ul a:hover,
.footer-nav ul a:active {
    border-bottom: 2px solid #2aaf2a;
    transition: border-bottom 0.2s;
    padding: 7px 0px;
    color: white;
}

.footer-icon{
    width: 40px;
}